<!-- <h1>Cart Details</h1>
<div class="main">
    
  
        <div class="col-sm-8 details">
            <ul>
                <li>
                    <img src="{{cart.image}}">
                </li>
                <li>
                    <span>{{cart.name}}</span>
                </li>
                <li>
                    <span>{{cart.price}}</span>
                </li>
                <li>
                    <span>{{cart.quantity}}</span>
                </li>
                <li>
                    <button  class="button" >Remove to Cart</button>
                </li>
            </ul>
        </div>
        <div class="col-sm-4 summary">
            <ul>
                <h3>Summary</h3>
                <li><span>Amount:</span><span>300</span></li>
                <li><span>Tax:</span><span>30</span></li>
                <li><span>Delivery:</span><span>20</span></li>
                <li><span>Discount:</span><span>50</span></li>
                <li><span><h4>Total</h4></span> <span><h4>300</h4></span></li>
                <li><button (click)="checkout()" class="checkout">Checkout</button></li>
            </ul>
        </div>
</div> -->
