/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
}

.container {
    margin-left: 5%;
    margin-right: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
}

.input {
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid teal;
    padding-left: 15px;
    color: teal;
}

.button {
    height: 40px;
    border: 1px solid teal;
    color: white;
    background-color: cadetblue;
    cursor: pointer;
}